.header {
  padding: 8px 0;
  background-color: $white;
  box-shadow: $shadow-grey;
  @include screen(576px) {
    padding: 10px 0;
  }

  &__logo {
    display: block;
    @include screen(576px) {
      height: 24px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    font-weight: 600;
    line-height: 110%;
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__nav {
    @include screen(576px) {
      display: none;
    }
  }

  &__menu {
    display: none;
    @include screen(576px) {
      display: block;
    }
  }

  &__user {
    display: none;

    @include screen(576px) {
      display: block;
    }
  }

  &__btn {
    width: 24px;
    height: 24px;
  }
}
