@font-face {
    font-family: 'PFFusionSansPro-Black';
    src: url('../fonts/PFFusionSansPro-Black.eot');
    src: url('../fonts/PFFusionSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFFusionSansPro-Black.woff2') format('woff2'),
        url('../fonts/PFFusionSansPro-Black.woff') format('woff'),
        url('../fonts/PFFusionSansPro-Black.ttf') format('truetype'),
        url('../fonts/PFFusionSansPro-Black.svg#PFFusionSansPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px;
}
::-webkit-scrollbar-track {
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#0088cd;
}
::-webkit-scrollbar-thumb:hover{
    
}
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px;
}
::-webkit-scrollbar{
    width: 6px;
    height: 3px;
}
html{
    height:100%;
    position: relative;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    position: relative;
    background: #fff;
    margin: 0;
    font-size:16px;
    color:#000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
  margin:0;
}
img{
    display: block;
}
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding:0 15px;
  position: relative;
  max-width: 1670px;
  width:100%;
  box-sizing: border-box;
}
.d-flex{
    display: flex;
    flex-wrap:wrap;
}
.nowrap{
    flex-wrap: nowrap;
}
.j-between{
    justify-content: space-between;
}
.j-center{
    justify-content: center;
}
.j-end{
    justify-content: flex-end;
}
.a-center{
    align-items: center;
}
.a-start{
    align-items: flex-start;
}
.dir-column{
    flex-direction: column;
}
h1{
    color: #fff;
    font-size: 64px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}
.slide__info{
    min-height: 940px;
    padding: 330px 0 0 0;
}
.main-slider .slick-arrow{
    font-size: 0;
    cursor: pointer;
    border:none;
    width: 49px;
    height: 42px;
    bottom:24px;
    position: absolute;
    z-index: 1;
    padding: 0;
}
.main-slider .slick-next {
    right:50%;
    margin-right: -49px;
    transform: rotate(180deg);
    border-radius: 20px 0 0 20px;
    background: #fff url('../images/arr-slider.svg') no-repeat right 16px center; 
}
.main-slider .slick-prev {
    left:50%;
    border-radius: 20px 0 0 20px;
    margin-left: -49px;
    background: #fff url('../images/arr-slider.svg') no-repeat left 24px center; 
}
.page-main header{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(16, 34, 61, 0.15);
    position: absolute;
    left:0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1760px;
    padding: 24px 0 20px 0;
    z-index: 10;
    top:8px;
}
.page-inner header{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(16, 34, 61, 0.15);
    position: relative;
    width: 100%;
    max-width: 1760px;
    padding: 24px 0 20px 0;
    margin: 8px auto 0;
}
.logo{
    margin: 18px 0 0 0;
}
.header__info{
    margin:0 44px;
    display: flex;
    justify-content: space-between;
    flex:1;
    padding: 13px 0 0 0;
    flex-direction: column;
}
.header__info span,
.header__info a{
    text-decoration: none;
    color: #1C1C1C;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
.header__icons{
    margin: 0 0 0 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 163px;
}
.header__buttons {
    display: flex;
    flex-direction: column;
}
.header__buttons .callback{
    color: #083DC5;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    border-radius: 12px;
    border: 1px solid #083DC5;
    text-decoration: none;
    height: 37px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__buttons .btn{
    border-radius: 12px;
    border: 1px solid #F88E2C;
    background: #F88E2C;
    color: #fff;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    margin:6px 0 0 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 45px;
}
.header__info form{
    border-radius: 6px;
    background: #F4F4F4;
    margin: 16px 0 0 0;
    padding: 0 36px 0 18px;
    position: relative;
}
.header__info form button{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    position: absolute;
    right:6px;
    top: 5.5px;
    border:none;
    cursor: pointer;
    background: #F88E2C url('../images/icon-search.svg') no-repeat center center;
}
.header__info form input{
    height: 41px;
    width: 100%;
    outline: none;
    color: #A5A5A5;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    border:none;
    background: none;
}
header nav{
    padding: 18px 0 0 0;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li a{
    color: #283845;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    padding: 12px 0;
    text-decoration: none;
    display: inline-block;
}
header ul li a:hover{
    text-decoration: underline;
}
header ul li:first-child a{
    border-radius: 12px;
    background: #F88E2C url('../images/burger.svg') no-repeat left 40px top 15px;
    color: #FFF;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    padding: 15px 40px 15px 79px;
    line-height: 100%;
}
.b-catalog{
    padding: 120px 0 160px 0;
}
.caption{
    text-align: center;
    margin:0;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.catalog__list{
    padding: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.catalog__item{
    margin: 50px 20px 0 20px;
    width: calc(25% - 40px);
}
.catalog__item img{
    max-width: 100%;
}
.catalog__item a{
    text-decoration: none;
    position: relative;
    color: #000;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    margin: 15px 0 0 0;
    padding: 4px 0;
    display: block;
}
.catalog__item a::after{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    right:0;
    top:0;
    background: #083DC5 url('../images/arr-detail.svg') no-repeat center center;
    border-radius: 50%;
}
.b-service{
    padding: 0 0 160px 0;
}
.service__list{
    padding: 30px 0 0 0;
    margin: 0 -20px;
}
.service__item{
    width: calc(25% - 40px);
    height: 468px;
    margin: 30px 20px 0 20px;
    padding: 32px 24px 0 24px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(16, 34, 61, 0.15);
}
.service__item p.name{
    margin: 16px 0 0 0;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 19px;
    position: relative;
}
.service__item p.name::before{
    content: '';
    width: 290px;
    height: 2px;
    background: rgba(233, 239, 249, 1);
    position: absolute;
    left:0;
    bottom: 0;
}
.service__item p{
    margin: 24px 0 0 0;
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 140%;
}
.service__item a.detail{
    margin: 24px 0 0 0;
    padding: 5px 44px 5px 0;
    text-decoration: none;
    position: relative;
    color: #000;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    display: inline-block;
}
.service__item a.detail::after{
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    right:0;
    top:0;
    background: #083DC5 url('../images/arr-detail.svg') no-repeat center center;
    border-radius: 50%;
    background-size: 7px 14px;
}
.b-cons{
    padding: 80px 0 0 0;
}
.content{
    max-width: 700px;
}
.cons-text{
    position: relative;
    padding: 60px 0 109px 0;
}
.cons-text::before{
    content: '';
    width: 100%;
    max-width: 1220px;
    height: 100%;
    position: absolute;
    z-index: 0;
    border-radius: 0px 12px 12px 0px;
    background: #083DC5;
    top:0;
    left:0;
}
.content p.subtitle{
    color: #fff;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 120%;
    margin:0;
    position: relative;
    padding: 0 0 0 46px;
    margin-left:-46px;
}
.content p.subtitle::before{
    content: '';
    width: 36px;
    height: 2px;
    background: #fff;
    position: absolute;
    left:0;
    top:11px;
}
.content p.caption{
    color: #fff;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
    margin: 12px 0 0 0;
    text-align: left;
    padding: 0 0 5px 0;
}
.content p{
    margin: 20px 0 0 0;
    color: #FFF;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 140%;
}
.cons-form{
    border-radius: 20px;
    background: #fff url('../images/bg-cons.png') no-repeat right bottom;
    box-shadow: 0px 4px 15px 0px rgba(16, 34, 61, 0.15);
    margin-right: -60px;
    margin-top:-140px;
    margin-left: 72px;
    min-height: 587px;
    padding: 40px 0 0 70px;
    position: relative;
    max-width: 928px;
    flex:1;
}
.cons-form::after{
    content: '';
    width: 30px;
    height: 48px;
    background: url('../images/bg-preim.svg') no-repeat;
    position: absolute;
    right: 30px;
    top:30px;
}
.cons-form::after{
    content: 'Оставить заявку';
    width: 200px;
    height: 217px;
    background: #083DC5 url('../images/arr-top.svg') no-repeat center top 36px;
    position: absolute;
    left: 135px;
    top:auto;
    bottom:-124px;
    border-radius: 86px;
    padding: 156px 0 0 0;
    color: #fff;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
}

.cons-form p.name{
    color: #000;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}
.cons-form p{
    margin: 20px 0 0 0;
    color: #505050;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    max-width: 680px;
}
.cons-form .field{
    margin: 40px 40px 0 0;
}
.cons-form label{
    color: #888;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    display: block;
}
.cons-form input{
    margin: 6px 0 0 0;
    width:280px;
    height: 41px;
    outline: none;
    border-radius: 12px;
    border: 1px solid #1E1E1E;
    padding: 0 0 0 20px;
}
.cons-form button{
    width: 203px;
    height: 54px;
    margin: 60px 0 0 0;
    border-radius: 12px;
    background: #F88E2C;
    color: #fff;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-preims{
    padding: 30px 0 0 0;
}
.preims__list{
    margin:0 -20px;
}
.preim__item{
    margin: 30px 20px 0 20px;
    width: calc(25% - 40px);
    padding: 24px 24px 36px 24px;
    background: #fff url('../images/bg-preim.svg') no-repeat right 36px top 24px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px 0px rgba(16, 34, 61, 0.15);
}
.preim__item figure{
    border-radius: 50%;
    background: #F4F4F4;
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 16px 0;
}
.preim__item span{
    color: #000;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}
.preim__item p{
    margin: 8px 0 0 0;
    padding: 0 42px 0 0;
    color: #505050;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
.b-popular{
    padding: 160px 0;
}
.popular-slider{
    margin-bottom: 140px;
}
.product-slider .slick-list{
    margin: 0 -20px;
    padding: 0 0 20px 0;
}
.popular-slider .slick-list{
    margin: 0 -20px;
    padding: 0 0 20px 0;
}
.product__item{
    margin: 60px 20px 0 20px;
    padding: 16px 16px 24px 16px;
    max-width: 380px;
}
.popular-slider .product__item{
    margin: 32px 20px 0 20px;
    padding: 16px 16px 24px 16px;
}
.product__item:hover{
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(16, 34, 61, 0.15);
}
.product__body{
    padding: 20px 8px 0 8px;
}
.product__body p.cat{
    color: #000;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    line-height: 140%;
    margin:0;
}
.product__body p.name{
    color: #000;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    line-height: 140%;
    margin: 4px 0 0 0;
}
.product__body p.desc{
    color: #283845;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    margin: 8px 0 0 0;
    height: 44px;
    overflow: hidden;
}
.product__foot{
    padding: 2px 8px 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__foot a.detail{
    border-radius: 12px;
    background: #083DC5;
    color: #FFF;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    width: 270px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.product__foot a.comp{
    border-radius: 8px;
    border: 1.5px solid #F88E2C;
    width: 44px;
    height: 44px;
    background: url('../images/icon-comp.svg') no-repeat center center;
    display: flex;
    text-decoration: none;
}
.product__item img{
    max-width: 100%;
}
.product-arrow{
    margin:11px auto 0;
    display: flex;
    width: 98px;
    height: 42px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(16, 34, 61, 0.15);
}
.product-arrow .slick-arrow{
    cursor: pointer;
    border:none;
    width: 49px;
    height: 42px;
    padding: 0;
}
.product-arrow .slick-next {
    transform: rotate(180deg);
    background: url('../images/arr-slider.svg') no-repeat right 16px center; 
}
.product-arrow .slick-prev {
    border-radius: 20px 0 0 20px;
    background: #fff url('../images/arr-slider.svg') no-repeat left 24px center; 
}
.b-brands{
    padding: 0 0 160px 0;
}
.b-brands .brands-slider{
    margin: 40px 0 0 0;
    padding: 0 128px;
}
.brands-slider .slick-arrow{
    font-size: 0;
    cursor: pointer;
    border:none;
    width: 9px;
    height: 18px;
    top:71px;
    position: absolute;
    z-index: 1;
    padding: 0;
}
.brands-slider .slick-next {
    right:60px;
    transform: rotate(180deg);
    background: #fff url('../images/arr-slider.svg') no-repeat; 
}
.brands-slider .slick-prev {
    left:60px;
    background: #fff url('../images/arr-slider.svg') no-repeat; 
}
.brand-item figure{
    width: 100%;
    height: 161px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-item figure img{
    max-width: 100%;
}
.b-com{
    width: 100%;
    background: url('../images/bg-com.jpg') right top;
    height: 677px;
}
.b-com .container,
.b-com .d-flex{
    height: 100%;
}
.com-text{
    max-width: 662px;
}
.com-text .name{
    color: #FFF;
    font-size: 64px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
    margin:0;
}
.com-text p{
    color: #fff;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 120%;
    margin: 18px 0 0 0;
}
.com-text a{
    width: 322px;
    height: 58px;
    border-radius: 12px;
    background: #083DC5;
    text-decoration: none;
    margin:40px 0 0 0;
    color: #FFF;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-com form{
    max-width: 610px;
}
.b-com form p.title{
    color: #000;
    margin:0;
    padding: 0;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}
.b-com form p{
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    margin:14px 0 0 0;
    padding: 0 0 12px 0;
}
.b-com form label{
    margin: 20px 0 0 0;
    color: #888;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
}
.b-com form input{
    width: 100%;
    height: 41px;
    outline: none;
    border-radius: 12px;
    border: 1px solid #1E1E1E;
    padding: 0 0 0 20px;
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin: 6px 0 0 0;
}
.b-com form button{
    width: 203px;
    height: 54px;
    margin:50px 0 0 0;
    border-radius: 12px;
    background: #F88E2C;
    color: #fff;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    cursor: pointer;
}

.b-gallery{
    padding: 160px 0;
}
.gallery__list{
    padding: 28px 0 0 0;
    margin: 0 -16px;
}
.gallery__list img{
    margin: 32px 16px 0 16px;
    border-radius: 20px;
    max-width: 100%;
}

footer{
    background: #F4F4F4;
    width: 100%;
    padding: 57px 0;
}
footer p{
    color: #1C1C1C;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin: 37px 0 0 0;
}
.footer__menu ul{
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
}
.footer__menu ul li {
    margin: 0 0 18px 0;
    width: 50%;
}
.footer__menu ul li a{
    color: var(--unnamed, #283845);
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.footer__menu ul li a:hover{
    text-decoration: underline;
}
.footer__contact{
    width: 100%;
    max-width: 380px;
}
.footer__contact .btn{
    width: 100%;
    height: 51px;
    border-radius: 12px;
    background: #083DC5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
.footer__contact p{
    color: #1C1C1C;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin: 40px 0 0 0;
}
.footer__contact a{
    color: #1C1C1C;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.bottom{
    border-top:1px solid #CCD3DF;
    padding: 36px 0 0 0;
    margin: 59px 0 0 0;
}
.bottom ul{
    display: flex;
    justify-content: space-between;
}
.bottom ul li{
    color: #000;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}
.bottom a{
    color: #000;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
}
.bottom a:hover{
    text-decoration: underline;
}
aside{
    width: 380px;
    margin: 60px 0 80px 0;
    padding: 36px 24px;
    border-radius: 12px;
    border: 1px solid #E9EFF9;
    background: #fff;
}
.filter__block{
    margin:0 0 36px 0;
}
.filter__name{
    color: #000;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 140%;
    width: 100%;
    display: block;
    padding: 0 15px 0 0;
    position: relative;
    cursor: pointer;
}
.filter__name::after{
    content: '';
    width: 14px;
    height: 8px;
    position: absolute;
    right:0;
    top:12px;
    background: url('../images/arr-filter.svg') no-repeat;
    transform: rotate(180deg);
    transition: .3s;
}
.filter__block.noactive .filter__name::after{
    transform: rotate(0deg);
}
.filter__body{
    padding: 2px 0 0 0;
}
.filter__body input[type="checkbox"] { 
    position: absolute; 
    left: -9999px; 
}
.filter__body input[type="checkbox"] + label { 
    color: #000;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    padding: 0 12px 0 36px;
    margin: 18px 0 0 0;
    cursor: pointer;
    position: relative;
    width: 100%;
    display: block;
}
.filter__body input[type="checkbox"] + label::before{
    content: '';
    border-radius: 4px;
    border: 1px solid rgba(16, 34, 61, 0.15);
    background: #D0D0D0;
    width: 24px;
    height: 24px;
    position: absolute;
    left:0;
    top:50%;
    margin-top:-12px;
}
.filter__body input[type="checkbox"]:checked + label::before { 
    background: #083DC5 url('../images/check.svg') no-repeat center center; 
}
.filter__body input[type="radio"] { 
    position: absolute; 
    left: -9999px; 
}
.filter__body input[type="radio"] + label { 
    color: #000;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    padding: 0 12px 0 36px;
    margin: 18px 0 0 0;
    cursor: pointer;
    position: relative;
    width: 100%;
    display: block;
}
.filter__body input[type="radio"] + label::before{
    content: '';
    border: 1px solid #083DC5;
    background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    left:0;
    top:0;
}
.filter__body input[type="radio"]:checked + label::before { 
    background: url('../images/radio.svg') no-repeat center center; 
}
aside button[type="submit"]{
    width: 200px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    cursor: pointer;
    border-radius: 12px;
    background: #F88E2C;
    color: #fff;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
aside button[type="reset"]{
    width: 120px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    cursor: pointer;
    border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #083DC5;
    color: #083DC5;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    background: #fff;
}
.inner-wrap{
    padding: 46px 0 0 0;
}
.inner-wrap h1{
    margin: 16px 0 0 0;
    color: #1C1C1C;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
}
.breadcrumbs{
    color: #888;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    line-height: 120%;
    margin:0;
    padding: 16px 0 40px 0;
    display: flex;
}
.breadcrumbs a,
.breadcrumbs span{
    text-decoration: none;
    color: #888;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    line-height: 120%;
    padding: 0 8px;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}
.breadcrumbs li:first-child a{
    padding: 0 8px 0 0;
}
.filter__line{
    display: flex;
    justify-content: space-between;
}
.filter__bottom{
    margin-bottom: 160px;
}
.filter__line input[type="checkbox"] { 
    position: absolute; 
    left: -9999px; 
}
.filter__line input[type="checkbox"] + label { 
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    padding: 13px 16px;
    margin: 0;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    background: #F3F3F3;
}
.filter__line input[type="checkbox"]:checked + label{
    color: #fff;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    border-radius: 10px;
    padding: 0 36px 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    background: #083DC5 url('../images/icon-close.svg') no-repeat right 16px top 18px;
}
.filter__line form{
    position: relative;
    border-radius: 10px;
    background: #F3F3F3;
    width: 326px;
    height: 48px;
    padding: 12px 58px 12px 18px;
}
.filter__line form button{
    width: 24px;
    height: 24px;
    background: url('../images/icon-zoom.svg') no-repeat;
    position:absolute;
    top:12px;
    right:18px;
    border:none;
    cursor: pointer;
}
.filter__line form input{
    color: #AFAFAF;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    outline: none;
    width: 100%;
    height: 100%;
    border:none;
    background: none;
}
.content-wrap{
    width: calc(100% - 420px);
    padding: 60px 0 0 0;
    position: relative;
}
.content-wrap h3{
    margin:0;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}
.content-wrap .product-arrow{
    box-shadow: none;
    right:0;
    top:60px;
    position: absolute;
    margin:0;
}
.category__list{
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
}
.category__list a{
    position: relative;
    margin: 50px 20px 0 20px;
}
.category__list a span{
    color: #fff;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    left: 0;
    bottom:50px;
    padding: 0 32px 0 24px;
}
.b-ques{
    margin: 213px 0 0 0;
    padding:50px 0 60px 0;
    border-radius: 20px;
    background: url('../images/bg-preim.svg') no-repeat right 40px top 40px;
    width: 100%;
    position: relative;
}
.b-ques::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    border-radius: 20px;
    background: #1C1C1C;
    z-index: -1;
    max-height:562px;
}
.b-ques form{
    width: 100%;
    max-width: 436px;
}
.ques-photo{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    align-items: flex-start;
}
.ques-photo div{
    margin-top: -115px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 24px 0 40px;
}
.ques-photo img{
    margin: 12px 0;
    display: block;
    max-width: 100%;
    border-radius: 12px;
}
.b-ques form p.title{
    margin:0;
    padding: 0;
    color: #FFF;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: normal;
}
.b-ques form p{
    color: #fff;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    margin:16px 0 0 0;
    padding: 0 0 12px 0;
}
.b-ques form label{
    margin: 20px 0 0 0;
    color: #fff;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    display: block;
}
.b-ques form input{
    border-radius: 12px;
    border: 1px solid #FFF;
    outline: none;
    background: none;
    height: 41px;
    width: 100%;
    padding: 0 0 0 20px;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    color:#fff;
    margin: 5px 0 0 0;
}
.b-ques form button{
    width: 203px;
    height: 54px;
    border-radius: 12px;
    background: #F88E2C;
    border:none;
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.product__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.product__list .product__item {
    margin: 0px 20px 50px 20px;
}
.pagiantion{
    padding: 164px 0 0 0;
}
.pagiantion button{
    border-radius: 12px;
    background: #F88E2C;
    border:none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    width: 233px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagiantion ul{
    display: flex;
}
.pagiantion ul li{
    display: inline-block;
}
.pagiantion ul li a{
    color: #888;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    margin:0 8px;
}
.pagiantion ul li a.prev{
    background: url('../images/arr-gray.svg') no-repeat;
    width: 11px;
    height: 20px;
    margin: 4px 16px 0 0;
}
.pagiantion ul li a.prev:hover{
    background: url('../images/arr-slider.svg') no-repeat;
}
.pagiantion ul li a.next{
    background: url('../images/arr-gray.svg') no-repeat;
    width: 11px;
    height: 20px;
    margin: 4px 0 0 16px;
    transform: rotate(180deg);
}
.pagiantion ul li a.next:hover{
    background: url('../images/arr-slider.svg') no-repeat;
}
.pagiantion ul li span{
    color: #F88E2C;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    display: inline-block;
    margin:0 8px;
}
.pagiantion ul li a:hover{
    text-decoration: underline;
}
.b-similar{
    padding: 160px 0 0 0;
}
.b-similar h3{
    color: #1C1C1C;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    margin:0 0 80px 0;
}
.b-articles{
    padding: 132px 0 160px 0;
}
.b-articles h3{
    color: #1C1C1C;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    margin:0;
}
.articles__list{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
}
.article_item{
    margin: 30px 0 0 0;
    max-width: 515px;
    width: 100%;
}
.article_item a.name{
    color: #000;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.article_item p{
    position: relative;
    padding: 12px 0 19px 0;
    margin: 0 0 12px 0;
    color: #283845;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
.article_item p::after{
    content: '';
    width: 290px;
    position: absolute;
    height: 1px;
    background: #E9EFF9;
    left:0;
    bottom:0;
}
.article_item span{
    color: #283845;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}
ul.tab{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(16, 34, 61, 0.15);
    margin: 60px 0 0 0;
    width: 380px;
}
ul.tab li{
    width: 100%;
    margin-bottom: 8px;
}
ul.tab li a{
    color: #000;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 16px 0 16px 72px;
    width: 100%;
    border-radius: 12px;
}
ul.tab li:first-child a{
    background: url('../images/icon-tab-1.svg') no-repeat left 32px top 17px;
}
ul.tab li.active:first-child a{
    background: #F88E2C url('../images/icon-tab-1hov.svg') no-repeat left 32px top 17px;
}
ul.tab li:nth-child(2) a{
    background: url('../images/icon-tab-2.svg') no-repeat left 32px top 17px;   
}
ul.tab li.active:nth-child(2) a{
    background: #F88E2C url('../images/icon-tab-2hov.svg') no-repeat left 32px top 17px;
}
ul.tab li:last-child a{
    background: url('../images/icon-tab-3.svg') no-repeat left 32px top 17px;
}
ul.tab li.active:last-child a{
    background: #F88E2C url('../images/icon-tab-3hov.svg') no-repeat left 32px top 17px;
}
.product__gallery{
    border-radius: 20px;
    border: 1px solid #E9EFF9;
    padding: 20px;
    margin: 40px 0 0 0;
    width: 100%;
    max-width: 705px;
    display: flex;
}
.slider-nav{
    width: 120px;
}
.slider-nav figure{
    margin: 20px 0 0 0;
    border-radius: 12px;
    border: 1px solid #E9EFF9;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.slider-nav figure.slick-current{
    border: 1px solid #083DC5;
}
.slider-nav figure img{
    max-width: 100%;
    max-height: 100px;
}
.slider-for{
    padding: 24px 0 24px 24px;
    width: calc(100% - 120px);
}
.slider-for figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-for figure img{
    max-width: 100%;
    max-height: 100%;
}
.product__info{
    padding: 40px 0 0 60px;
    flex:1;
    max-width: 828px;
}
.product__info h1{
    color: #1C1C1C;
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
    margin:0;
}
.product__info p{
    color: #283845;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    margin: 24px 0 0 0;
    padding: 0 10px 0 0;
}
.product__info .sklad{
    position: relative;
    padding: 14px 0 0 20px;
    color: #000;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
}
.product__info .sklad::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F88E2C;
    top: 19px;
    left:0;
}
.product__info p.art{
    padding: 14px 0 0 40px;
    margin:0;
    color: #000;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 140%;
}
.product__info p.art span{
    color: #000;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
    padding: 0 0 0 4px;
}
.product__buttons{
    padding:50px 0 0 0;
}
.product__info a.order{
    border-radius: 8px;
    background: #083DC5;
    text-decoration: none;
    width: 100%;
    max-width: 365px;
    height: 61px;
    color: #fff;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__info a.ques{
    border-radius: 8px;
    border: 1px solid #F88E2C;
    color: #F88E2C;
    background: #fff;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    height: 61px;
    text-decoration: none;
}
.product__info a.comp{
    border-radius: 8px;
    border: 1.5px solid #F88E2C;
    width: 44px;
    height: 44px;
    background: url('../images/icon-comp.svg') no-repeat center center;
    display: flex;
    text-decoration: none;
}
.product__info a.ind{
    color: #283845;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    padding: 7px 0 7px 52px;
    text-decoration: none;
    margin: 36px 0 0 0;
    position: relative;
    display: block;
}
.product__info a.ind::before{
    content: '';
    width: 40px;
    height: 40px;
    background: url('../images/icon-plus.svg') no-repeat center center;
    border: 1px solid #C1CEF0;
    position: absolute;
    left:0;
    top:0;
    border-radius: 50%;
}
.product__block{
    border-radius: 12px;
    border: 1px solid #E9EFF9;
    background: #fff;
    padding: 32px 40px;
    flex:1;
    margin: 60px 0 0 40px;
}
.product__block .tab{
    display: none;
}
.product__block .tab.active{
    display: block;
}
.product__block h3{
    color: #000;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    margin:0;
}
.product__block p{
    color: #000;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 150%;
    margin:30px 0 0 0;
}
.product__block table{
    border:none;
    border-collapse: collapse;
    margin: 14px 0 0 0;
}
.product__block table td{
    padding: 14px 0;
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    border:none;
}
.product__block table td:first-child{
    color: #000;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
.product__block table td:last-child{
    padding: 14px 0 14px 80px;
}
.sert__list{
    display: flex;
    justify-content: space-between;
}
.sert__item{
    max-width: 233px;
    margin:28px 0 0 0;
}
.sert__item img{
    max-width: 100%;
}
.sert__item p{
    margin:12px 0 0 0;
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 150%;
}