.block10{
  .swiper{
    overflow: visible;
    .swiper-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: calc(100% + 30px);
      margin: 0 0 0 -15px;
      counter-reset: counter;
      @media (max-width: 1300px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        margin: 0;
      }
      @media (max-width: 920px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        width: auto;
      }
      @media (min-width: 921px) {
        height: auto;
        transform: none!important;
      }
      .swiper-slide{
        display: flex;
        align-items: center;
        gap: 20px;
        width: calc(33.333% - 30px);
        height: auto;
        padding: 30px;
        margin: 0 15px 30px;
        border-radius: 18px;
        background: var(--color-white);
        box-shadow: 0px 6px 30px 0px rgba(65, 45, 30, 0.10);
        counter-increment: counter;
        @media (max-width: 1300px) {
          width: 100%;
          padding: 20px;
          margin: 0;
        }
        @media (max-width: 920px) {
          max-width: 340px;
          min-width: 340px;
          margin: 0;
        }
        &:before{
          display: block;
          font-family: 'Cormorant';
          font-size: 144px;
          font-weight: 700;
          line-height: 100px;
          color: var(--color-brown-light);
          text-transform: uppercase;
          content: counter(counter);
        }
        .h6{
          font-weight: 700;
          color: var(--color-brown);
        }
        .small{
          padding: 4px 0 0;
        }
      }
    }
  }
}