.block9{
  position: relative;
  .swiper{
    overflow: visible;
    .swiper-wrapper{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      @media (min-width: 769px) {
        height: auto;
        transform: none!important;
      }
      @media (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 1024px) {
        display: flex;
      }
      .swiper-slide{
        position: relative;
        width: auto!important;
        margin: 0!important;
        border-radius: 18px;
        overflow: hidden;
        aspect-ratio: 1 / .686;
        @media (max-width: 1024px) {
          max-width: 340px;
          min-width: 340px;
        }
        &:nth-child(1){
          width: 100%!important;
          height: 100%;
          grid-column-start:1;
          grid-column-end:3; 
          grid-row-start:1; 
          grid-row-end:3;
          @media (max-width: 1100px) {
            grid-column-start: auto; 
            grid-column-end: auto; 
            grid-row-start: auto; 
            grid-row-end: auto;
          }
        }
        &:nth-child(11){
          width: 100%!important;
          height: 100%;
          grid-column-start:4; 
          grid-column-end:6; 
          grid-row-start:3; 
          grid-row-end:5;
          @media (max-width: 1100px) {
            grid-column-start: auto; 
            grid-column-end: auto; 
            grid-row-start: auto; 
            grid-row-end: auto;
          }
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        button{
          position: absolute;
          top: 10px;
          right: 10px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: var(--color-white);
          background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_702_2816)'%3E%3Cpath d='M14.9284 0.434814C6.92468 0.434814 0.435547 6.92394 0.435547 14.9276C0.435547 22.9311 6.92468 29.4202 14.9284 29.4202C22.9321 29.4202 29.4212 22.9311 29.4212 14.9276C29.4212 6.92394 22.9321 0.434814 14.9284 0.434814ZM16.2871 21.2681C16.2871 22.0192 15.6792 22.6268 14.9284 22.6268C14.1775 22.6268 13.5697 22.0192 13.5697 21.2681V14.9276C13.5697 14.1766 14.1775 13.5689 14.9284 13.5689C15.6792 13.5689 16.2871 14.1766 16.2871 14.9276V21.2681ZM14.9284 11.0779C14.0534 11.0779 13.3432 10.3679 13.3432 9.49286C13.3432 8.61786 14.0534 7.90764 14.9284 7.90764C15.8034 7.90764 16.5136 8.61786 16.5136 9.49286C16.5136 10.3679 15.8034 11.0779 14.9284 11.0779Z' fill='white'/%3E%3Cpath d='M14.927 11.0778C14.052 11.0778 13.3418 10.3678 13.3418 9.49281C13.3418 8.61781 14.052 7.90759 14.927 7.90759C15.802 7.90759 16.5122 8.61781 16.5122 9.49281C16.5122 10.3678 15.802 11.0778 14.927 11.0778Z' fill='%231E2839'/%3E%3Cpath d='M16.2857 21.268C16.2857 22.0191 15.6779 22.6267 14.927 22.6267C14.1761 22.6267 13.5683 22.0191 13.5683 21.268V14.9276C13.5683 14.1765 14.1761 13.5689 14.927 13.5689C15.6779 13.5689 16.2857 14.1765 16.2857 14.9276V21.268Z' fill='%231E2839'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_702_2816'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          background-size: 100%;
          &:hover{
            .tooltip{
              opacity: 1;
              visibility: visible;
            }
          }
          .tooltip{
            position: absolute;
            top: 100%;
            right: 0;
            margin: 10px 0 0;
            padding: 10px;
            border-radius: 8px;
            background: var(--color-white);
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            text-align: left;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
}