@font-face {
  font-family:'icomoon';
  src:url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
    font-family:'Merriweather';
    src:url('../fonts/merriweatherlight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'Merriweather';
    src:url('../fonts/merriweatherlightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family:'Merriweather';
    src:url('../fonts/merriweatherregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Merriweather';
    src:url('../fonts/merriweatheritalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family:'Merriweather';
    src:url('../fonts/merriweatherbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family:'Merriweather';
    src:url('../fonts/merriweatherbolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family:'Merriweather';
    src:url('../fonts/merriweatherultrabold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family:'Merriweather';
    src:url('../fonts/merriweatherultrabolditalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotothin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotothinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotolight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotolightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Roboto.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotoitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotomedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotomediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotobolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotoblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/Robotoblackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}