html,
body{
  background: var(--color-bg);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--color-blue);
  *{
    box-sizing: border-box;
    transition: all .35s ease;
    font-variant-numeric: lining-nums tabular-nums;
    &:before,
    &:after{
      transition: all .35s ease;
    }
  }
  ul,
  ol{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  img,
  svg{
    display: block;
    width: 100%;
  }
  svg{
    display: block;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: none;
  }
  a{
    color: var(--color-blue);
    text-decoration: none;
    &:hover{
      color: var(--color-brown);
    }
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    background: var(--color-transparent);
    cursor: pointer;
    &:hover{
      color: var(--color-brown);
    }
  }
  p{
    margin: 0;
    padding: 0 0 20px;
    &:last-child{
      padding: 0;
    }
  }
  b{
    font-weight: 700;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    padding: 0;
    margin: 0;
  }
  .h1, h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    @media (max-width: 1300px) {
      font-size: 50px;
      line-height: 62px;
    }
    @media (max-width: 1200px) {
      font-size: 40px;
      line-height: 52px;
    }
    @media (max-width: 1100px) {
      font-size: 38px;
      line-height: 50px;
    }
    @media (max-width: 1024px) {
      font-size: 36px;
      line-height: 48px;
    }
    @media (max-width: 920px) {
      font-size: 34px;
      line-height: 46px;
    }
    @media (max-width: 768px) {
      font-size: 33px;
      line-height: 41px;
    }
    @media (max-width: 576px) {
      font-size: 30px;
      line-height: 38px;
    }
    @media (max-width: 480px) {
      font-size: 29px;
      line-height: 36px;
    }
    @media (max-width: 375px) {
      font-size: 27px;
      line-height: 32px;
    }
  }
  .h2, h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    @media (max-width: 1200px) {
      font-size: 44px;
      line-height: 54px;
    }
    @media (max-width: 1100px) {
      font-size: 40px;
      line-height: 50px;
    }
    @media (max-width: 1024px) {
      font-size: 36px;
      line-height: 46px;
    }
    @media (max-width: 920px) {
      font-size: 32px;
      line-height: 42px;
    }
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media (max-width: 576px) {
      font-size: 28px;
      line-height: 38px;
    }
    @media (max-width: 480px) {
      font-size: 26px;
      line-height: 36px;
    }
    @media (max-width: 375px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .h3, h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    @media (max-width: 1200px) {
      font-size: 38px;
      line-height: 44px;
    }
    @media (max-width: 1100px) {
      font-size: 33px;
      line-height: 42px;
    }
    @media (max-width: 920px) {
      font-size: 32px;
      line-height: 38px;
    }
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 34px;
    }
    @media (max-width: 576px) {
      font-size: 28px;
      line-height: 32px;
    }
    @media (max-width: 480px) {
      font-size: 26px;
      line-height: 30px;
    }
    @media (max-width: 375px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .h4, h4{
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
  }
  .h5, h5{
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    @media (max-width: 1100px) {
      font-size: 16px;
    }
  }
  .h6, h6{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    @media (max-width: 1100px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .middle{
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  .small{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .smaller{
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
  }
  .ico{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 34px;
    min-width: 34px;
    height: 34px;
    border-radius: 50%;
    &:hover{
      opacity: .9;
    }
    &.whatsapp{
      background: var(--color-whatsapp);
    }
    &.telegram{
      background: var(--color-telegram);
    }
    &.email,
    &.phone,
    &.location,
    &.clock{
      background: var(--color-brown-light);
    }
    svg{
      width: 14px;
      height: 14px;
      use{
        fill: var(--color-white);
      }
    }
  }
  .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border: 1px solid var(--color-transparent);
    border-radius: 35px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-white);
    text-transform: uppercase;
    @media (max-width: 1100px) {
      font-size: 15px;
      font-weight: 500;
    }
    @media (max-width: 920px) {
      height: 60px; 
      border-radius: 30px;
    }
    @media (max-width: 374px) {
      font-size: 12px;
    }
    &.yellow{
      background: var(--color-yellow);
      &:hover{
        color: var(--color-brown);
      }
    }
    &.dark{
      background: var(--color-blue);
      &:hover{
        color: var(--color-brown-light);
      }
    }
    &.white{
      background: var(--color-white);
      color: var(--color-blue);
      &:hover{
        background: var(--color-brown-light);
      }
    }
    &.transparent{
      border-color: var(--color-brown-light);
      color: var(--color-brown);
      &:hover{
        color: var(--color-blue);
      }
    }
  }
  .title{
    position: relative;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      margin-bottom: 28px;
    }
    @media (max-width: 920px) {
      margin-bottom: 20px;
    }
    &.vintage{
      margin-bottom: 82px;
      @media (max-width: 920px) {
        margin-bottom: 46px;
      }
      &:after{
        position: absolute;
        top: 100%;
        left: 50%;
        display: block;
        width: 350px;
        height: 22px;
        margin: 20px 0 0 -175px;
        background-image: url("data:image/svg+xml,%3Csvg width='350' height='22' viewBox='0 0 350 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_702_2254)'%3E%3Cpath d='M121.528 14.3698C111.399 14.2497 101.27 13.9295 91.141 13.8294C88.6038 13.8294 86.0865 13.8094 83.5493 13.8494C82.2907 13.8694 81.012 13.8494 79.7534 13.9094C78.4948 13.9695 77.2162 14.3298 75.9575 14.6301C74.6789 14.9503 73.4203 15.0704 72.1617 15.0304C70.903 15.0304 69.6244 15.0304 68.3658 14.9703C65.8285 14.9103 63.3113 14.7301 60.774 14.55C55.7195 14.1296 50.645 14.0095 45.5905 13.8894L30.407 13.5091C20.258 13.3089 10.129 13.1288 0 13.0287L0.0199783 11.8477C10.149 11.9277 20.278 11.9277 30.407 11.8877L45.5905 11.7676C50.645 11.7476 55.7195 11.7076 60.794 11.3673C63.3312 11.2271 65.8685 11.107 68.3857 11.087C69.6444 11.067 70.923 11.087 72.1816 11.087C73.4403 11.067 74.7189 11.2271 75.9775 11.5474C77.2361 11.8677 78.4948 12.248 79.7734 12.3281C81.032 12.4082 82.3106 12.4082 83.5693 12.4482C86.1065 12.5283 88.6238 12.5483 91.161 12.5883C101.29 12.6684 111.419 12.5082 121.548 12.5683L121.528 14.3698Z' fill='%23DCBDA1'/%3E%3Cpath d='M228.451 11.8276C238.58 11.7676 248.709 11.9077 258.838 11.8476C261.375 11.8076 263.893 11.7876 266.43 11.7075C267.689 11.6675 268.967 11.6675 270.226 11.5874C271.484 11.5073 272.763 11.127 274.022 10.8067C275.28 10.4665 276.559 10.3263 277.818 10.3464C279.076 10.3263 280.355 10.3063 281.613 10.3464C284.151 10.3664 286.688 10.5065 289.205 10.6266C294.28 10.9469 299.334 11.0069 304.409 11.0269L319.592 11.147C329.721 11.1871 339.85 11.1871 349.979 11.107L349.999 12.288C339.87 12.3881 329.741 12.5482 319.612 12.7684L304.429 13.1488C299.374 13.2488 294.3 13.389 289.245 13.8093C286.708 13.9895 284.191 14.1696 281.653 14.2297C280.395 14.2897 279.116 14.2897 277.858 14.2897C276.599 14.3298 275.32 14.2097 274.062 13.8894C272.803 13.5891 271.524 13.2488 270.266 13.1688C269.007 13.1087 267.729 13.1287 266.47 13.1087C263.933 13.0687 261.415 13.0887 258.878 13.0887C248.749 13.1888 238.62 13.5091 228.491 13.6292L228.451 11.8276Z' fill='%23DCBDA1'/%3E%3Cpath d='M165.441 12.7287C168.318 16.2117 172.574 18.5136 177.069 19.3343C179.326 19.7547 181.664 19.7947 183.961 19.4344C186.259 19.0941 188.496 18.2534 190.514 17.1324C192.532 16.0315 194.37 14.6904 196.188 13.4493C198.006 12.2082 199.844 11.0673 201.782 10.0864C203.72 9.10557 205.698 8.26485 207.755 7.62431C209.813 7.00378 211.911 6.5634 214.029 6.4433C216.146 6.28316 218.264 6.38325 220.202 6.98376C221.161 7.28402 222.1 7.70438 222.899 8.24484C223.718 8.7853 224.437 9.4859 224.997 10.2666C226.155 11.8279 226.655 13.8096 226.076 15.6111C225.536 17.4127 224.058 18.994 222.28 19.5745C221.381 19.8548 220.402 19.9148 219.563 19.6546C218.724 19.3944 218.004 18.7939 217.525 17.9932C217.045 17.1925 216.846 16.2317 217.045 15.3509C217.225 14.4501 217.785 13.6094 218.524 13.0089C219.283 12.4084 220.242 12.0681 221.201 12.1682C222.16 12.2282 223.079 12.7487 223.478 13.5694C223.678 13.9898 223.758 14.4702 223.678 14.9506C223.598 15.411 223.359 15.8513 222.979 16.0915C222.24 16.612 220.881 16.3918 220.522 15.451L220.162 15.5711C220.342 16.1916 220.881 16.632 221.461 16.8122C222.06 16.9923 222.719 16.9723 223.319 16.652C223.898 16.3117 224.298 15.7312 224.437 15.1107C224.597 14.4902 224.537 13.8096 224.317 13.2091C224.078 12.5886 223.618 12.0681 223.099 11.7078C222.559 11.3475 221.96 11.1273 221.321 11.0272C220.062 10.827 218.744 11.2074 217.705 11.908C216.666 12.6286 215.887 13.7295 215.547 14.9906C215.207 16.2717 215.447 17.6529 216.046 18.7939C216.646 19.9549 217.685 20.8957 218.963 21.3561C220.222 21.7964 221.58 21.7564 222.799 21.4161C224.038 21.0758 225.157 20.3752 226.076 19.4744C226.515 19.014 226.915 18.5136 227.254 17.9732C227.594 17.4327 227.854 16.8522 228.053 16.2317C228.453 15.0106 228.553 13.6495 228.293 12.3884C228.173 11.7478 227.974 11.1473 227.714 10.5668C227.454 9.98633 227.154 9.42585 226.795 8.92542C226.076 7.90455 225.177 7.02379 224.138 6.32319C223.099 5.6226 221.98 5.10215 220.821 4.74184C218.504 4.02123 216.106 3.88111 213.789 4.06126C209.154 4.40155 204.699 5.94287 200.683 8.06468C198.665 9.12559 196.747 10.3667 194.909 11.6878C193.071 12.9889 191.333 14.33 189.495 15.431C187.657 16.5519 185.699 17.3126 183.602 17.753C181.524 18.1733 179.346 18.2334 177.209 17.9531C172.933 17.4127 168.778 15.5311 165.641 12.4084L165.441 12.7287Z' fill='%23DCBDA1'/%3E%3Cpath d='M183.881 12.7287C181.004 16.2117 176.748 18.5136 172.253 19.3343C169.996 19.7547 167.658 19.7947 165.361 19.4344C163.063 19.0941 160.826 18.2534 158.808 17.1324C156.79 16.0315 154.952 14.6904 153.134 13.4493C151.316 12.2082 149.478 11.0673 147.54 10.0864C145.602 9.10557 143.624 8.26485 141.567 7.62431C139.509 7.00378 137.411 6.5634 135.293 6.4433C133.176 6.28316 131.058 6.38325 129.12 6.98376C128.161 7.28402 127.222 7.70438 126.423 8.24484C125.604 8.7853 124.885 9.4859 124.325 10.2666C123.167 11.8279 122.667 13.8096 123.246 15.6111C123.786 17.4127 125.264 18.994 127.042 19.5745C127.941 19.8548 128.92 19.9148 129.759 19.6546C130.598 19.3944 131.318 18.7939 131.797 17.9932C132.277 17.1925 132.476 16.2317 132.277 15.3509C132.097 14.4501 131.537 13.6094 130.798 13.0089C130.039 12.4084 129.08 12.0681 128.121 12.1682C127.162 12.2282 126.243 12.7487 125.844 13.5694C125.644 13.9898 125.564 14.4702 125.644 14.9506C125.724 15.411 125.963 15.8513 126.343 16.0915C127.082 16.612 128.441 16.3918 128.8 15.451L129.14 15.5711C128.96 16.1916 128.421 16.632 127.841 16.8122C127.242 16.9923 126.583 16.9723 125.983 16.652C125.404 16.3117 125.005 15.7312 124.865 15.1107C124.705 14.4902 124.765 13.8096 124.985 13.2091C125.224 12.5886 125.684 12.0681 126.203 11.7078C126.743 11.3475 127.342 11.1273 127.981 11.0272C129.24 10.827 130.559 11.2074 131.597 11.908C132.636 12.6286 133.415 13.7295 133.755 14.9906C134.095 16.2717 133.855 17.6529 133.256 18.7939C132.656 19.9549 131.617 20.8957 130.339 21.3561C129.08 21.7964 127.722 21.7564 126.503 21.4161C125.264 21.0758 124.145 20.3752 123.226 19.4744C122.787 19.014 122.387 18.5136 122.048 17.9732C121.708 17.4327 121.448 16.8522 121.249 16.2317C120.849 15.0106 120.749 13.6495 121.009 12.3884C121.129 11.7478 121.329 11.1473 121.588 10.5668C121.848 9.98633 122.148 9.42585 122.507 8.92542C123.226 7.90455 124.125 7.02379 125.164 6.32319C126.203 5.6226 127.322 5.10215 128.481 4.74184C130.798 4.02123 133.196 3.88111 135.513 4.06126C140.148 4.40155 144.603 5.94287 148.619 8.06468C150.637 9.12559 152.555 10.3667 154.393 11.6878C156.231 12.9889 157.969 14.33 159.807 15.431C161.645 16.5519 163.603 17.3126 165.7 17.753C167.778 18.1733 169.956 18.2334 172.093 17.9531C176.369 17.4127 180.524 15.5311 183.661 12.4084L183.881 12.7287Z' fill='%23DCBDA1'/%3E%3Cpath d='M181.024 8.10453C180.944 9.86604 180.365 11.6075 179.246 12.9487C178.167 14.2898 176.529 15.2707 174.751 15.2506C172.993 15.2907 171.314 14.3299 170.256 12.9487C169.157 11.5875 168.577 9.84602 168.498 8.08452C168.438 6.32301 168.877 4.50145 169.956 3.00017C170.995 1.5189 172.773 0.357908 174.751 0.337891C175.73 0.337891 176.689 0.61813 177.528 1.07852C178.367 1.55893 179.046 2.23952 179.566 2.98015C180.644 4.52147 181.084 6.34303 181.024 8.10453ZM179.905 8.10453C179.825 6.56321 179.306 5.06193 178.367 3.92096C177.448 2.8 176.129 2.05936 174.771 2.05936C173.412 2.01933 172.054 2.75996 171.155 3.90094C170.236 5.04191 169.696 6.5432 169.616 8.08452C169.556 9.62583 169.936 11.2072 170.835 12.5083C171.734 13.7694 173.172 14.6902 174.751 14.7302C175.53 14.7302 176.309 14.51 176.988 14.1297C177.668 13.7293 178.227 13.1689 178.686 12.5283C179.586 11.2472 179.965 9.64585 179.905 8.10453Z' fill='%23DCBDA1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_702_2254'%3E%3Crect width='350' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: 100%;
        content: "";
        @media (max-width: 920px) {
          width: 250px;
          height: 16px;
          margin: 10px 0 0 -125px;
        }
      } 
    }
    .h3{
      font-family: 'Cormorant';
      text-align: center;
      text-transform: uppercase;
    }
    .h5{
      padding: 6px 0 0;
      text-align: center;
    }
  }
  .br{
    border-radius: 18px;
    overflow: hidden;
    @media (max-width: 920px) {
      border-radius: 8px;
    }
  }
  .brt{
    border-radius: 18px 18px 0 0;
    overflow: hidden;
    @media (max-width: 920px) {
      border-radius: 8px 8px 0 0;
    }
  }
  .brb{
    border-radius: 0 0 18px 18px;
    overflow: hidden;
    @media (max-width: 920px) {
      border-radius: 0 0 8px 8px;
    }
  }
  .white_bg{
    position: relative;
    padding: 100px 0;
    @media (max-width: 920px) {
      padding: 60px 0;
    }
    &:before{
      position: absolute;
      top: 0;
      left: -5000px;
      display: block;
      width: 10000px;
      height: 100%;
      background: var(--color-white);
      content: "";
    }
  }
  ul.swipernav{
    display: flex;
    &.horizontal{
      justify-content: space-between;
      align-items: center;
      height: 70px;
      border: 1px solid var(--color-brown-light);
      border-radius: 10px;
      background: var(--color-pink);
      overflow: hidden;
      @media (max-width: 920px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
      }
      li{
        width: 25%;
        height: 100%;
        @media (max-width: 920px) {
          width: 100%;
          &:nth-child(1),
          &:nth-child(2){
            border-bottom: 1px solid var(--color-brown-light);
          }
          &:nth-child(1),
          &:nth-child(3){
            border-right: 1px solid var(--color-brown-light);
          }
        }
        &:last-child{
          button{
            &:after{
              display: none;
            }
          }
        }
        button{
          position: relative;
          width: 100%;
          height: 100%;
          font-family: 'Cormorant';
          font-size: 17px;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.18px;
          text-transform: uppercase;
          @media (max-width: 920px) {
            height: 54px;
          }
          &.active{
            background: var(--color-brown-light);
            color: var(--color-white);
            &:after{
              display: none;
            }
          }
          &:after{
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 0;
            display: block;
            width: 1px;
            background: var(--color-blue);
            opacity: 0.16;
            content: "";
            @media (max-width: 920px) {
              display: none;
            }
          }
        }
      }
    }
    &.vertical{
      flex-direction: column;
      background: var(--color-white);
      li{
        height: 20%;
        border-bottom: 1px solid rgba(30, 40, 57, 0.16);
        button{
          width: 100%;
          height: 100%;
          padding: 0 20px;
          font-family: 'Cormorant';
          font-size: 17px;
          font-weight: 700;
          line-height: .9;
          letter-spacing: 0.18px;
          color: var(--color-blue);
          text-transform: uppercase;
          &:hover{
            color: var(--color-brown);
          }
          &.active{
            background: var(--color-brown-light);
            color: var(--color-white);
          }
        }
      }
    }
  }
  form{
    fieldset{
      display: block;
      padding: 0;
      margin: 0;
      border: 0;
      input,
      textarea{
        display: block;
        height: 70px;
        border: 0;
        border-radius: 35px;
        background: var(--color-white);
        font-size: 16px;
        line-height: 24px;
        outline: none;
        &::placeholder{
          color: var(--color-gray);
        }
      }
      input{
        width: 100%;
        padding: 0 30px;
      }
      textarea{
        max-width: 100%;
        min-width: 100%;
        padding: 30px;
      }
      button{
        &.upload{
          justify-content: flex-start;
          gap: 6px;
          color: var(--color-white);
          &:hover{
            color: var(--color-brown-light);
            svg{
              use{
                fill: var(--color-brown-light);
              }
            }
          }
          svg{
            max-width: 20px;
            min-width: 20px;
            height: 20px;
            use{
              fill: var(--color-white);
            }
          }
        }
      }
      &.checkbox{
        input{
          display: none;
          &:checked{
            & + label{
              &:after{
                opacity: .5;
                visibility: visible;
              }
            }
          }
        }
        label{
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(255, 255, 255, .5);
          cursor: pointer;
          &:before,
          &:after{
            display: block;
            content: "";
          }
          &:before{
            max-width: 20px;
            min-width: 20px;
            height: 20px;
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 3px;
          }
          &:after{
            position: absolute;
            top: 50%;
            left: -1px;
            width: 24px;
            height: 24px;
            margin: -12px 0 0;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_947_677)'%3E%3Cpath d='M17.0967 5.91117C17.1846 5.99908 17.234 6.1183 17.234 6.24262C17.234 6.36693 17.1846 6.48616 17.0967 6.57406L9.95703 13.7138C9.9135 13.7574 9.86183 13.7919 9.80495 13.8154C9.74808 13.839 9.68713 13.8511 9.62557 13.8511C9.56401 13.8511 9.50305 13.839 9.44618 13.8154C9.38931 13.7919 9.33763 13.7574 9.2941 13.7138L5.50895 9.92867C5.46541 9.88514 5.43087 9.83347 5.40731 9.77659C5.38374 9.71971 5.37161 9.65875 5.37161 9.59719C5.3716 9.53563 5.38372 9.47466 5.40728 9.41778C5.43083 9.3609 5.46536 9.30922 5.50889 9.26568C5.55241 9.22215 5.60409 9.18761 5.66097 9.16405C5.71784 9.14048 5.7788 9.12835 5.84037 9.12834C5.90193 9.12834 5.9629 9.14046 6.01978 9.16401C6.07665 9.18757 6.12834 9.2221 6.17188 9.26562L9.62559 12.7193L16.4336 5.91117C16.4771 5.86762 16.5288 5.83307 16.5857 5.8095C16.6426 5.78592 16.7036 5.77379 16.7651 5.77379C16.8267 5.77379 16.8877 5.78592 16.9446 5.8095C17.0015 5.83307 17.0531 5.86762 17.0967 5.91117ZM20.5 2.27395V17.7261C20.4993 18.329 20.2595 18.9069 19.8332 19.3332C19.4069 19.7595 18.829 19.9993 18.2261 20H2.77391C2.17104 19.9993 1.59306 19.7595 1.16677 19.3332C0.740473 18.9069 0.500682 18.329 0.5 17.7261L0.5 2.27395C0.500672 1.67107 0.740458 1.09308 1.16675 0.666779C1.59304 0.240478 2.17103 0.000682383 2.77391 0L18.2261 0C18.829 0.000682383 19.407 0.240478 19.8332 0.666779C20.2595 1.09308 20.4993 1.67107 20.5 2.27395ZM19.5625 2.27395C19.5621 1.91963 19.4212 1.57994 19.1706 1.32939C18.9201 1.07885 18.5804 0.937914 18.2261 0.9375H2.77391C2.41959 0.937914 2.0799 1.07885 1.82937 1.32939C1.57883 1.57994 1.4379 1.91963 1.4375 2.27395V17.7261C1.4379 18.0804 1.57883 18.4201 1.82937 18.6706C2.07991 18.9212 2.41959 19.0621 2.77391 19.0625H18.2261C18.5804 19.0621 18.9201 18.9212 19.1706 18.6706C19.4212 18.4201 19.5621 18.0804 19.5625 17.7261V2.27395Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_947_677'%3E%3Crect width='20' height='20' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            background-size: 100%;
            opacity: 0;
            visibility: hidden;
          }
          a{
            color: rgba(255, 255, 255, .5);
            text-decoration: underline;
            &:hover{
              color: var(--color-white);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  ul.swipernavs{
    position: relative;
    display: flex;
    align-items: center;
    &.mobile{
      display: none;
      padding: 20px 0 0;
      justify-content: center;
      gap: 30px;
      @media (max-width: 1024px) {
        display: flex;
      }
      li{
        &:first-child{
          button{
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='20' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_702_3195)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2009 8.98961C26.2676 8.98961 26.2676 8.92294 26.2676 8.85627C25.5343 8.45627 24.8676 8.05627 24.2009 7.58961C24.0009 7.45627 23.8009 7.38961 23.6009 7.52294C22.6676 7.92294 21.8009 8.38961 20.9343 8.98961L26.2009 8.98961ZM26.4676 10.5229L20.7343 10.5229C21.8009 11.1229 22.6676 11.5896 23.6009 11.9896C23.8009 12.1229 24.0009 12.0563 24.2009 11.9229C24.6428 11.6137 25.1139 11.3337 25.6337 11.0247C25.8982 10.8675 26.1753 10.7028 26.4676 10.5229ZM19.0009 2.98961C19.0009 2.98961 19.0676 2.92294 19.0676 2.85628C18.9618 2.76555 18.8525 2.66454 18.7413 2.56179C18.3624 2.21154 17.9618 1.84115 17.6009 1.78961C17.2548 1.78961 17.049 2.12668 16.8378 2.47264C16.7237 2.65965 16.608 2.84925 16.4676 2.98961C14.0676 5.52294 11.0009 6.98961 7.80094 8.18961C6.84225 8.55834 5.84278 8.8047 4.83635 9.05278C4.02313 9.25323 3.20538 9.4548 2.40094 9.72294C2.77089 9.80831 3.15298 9.90583 3.54203 10.0051C4.06441 10.1385 4.59934 10.275 5.13428 10.3896C8.40094 11.1896 11.4009 12.5896 14.2009 14.4563C15.4009 15.2563 16.4009 16.1896 17.2009 17.3229C17.4676 17.7229 17.6676 17.7229 18.0009 17.4563C18.3343 17.1229 18.7343 16.8563 19.1343 16.5896C18.909 16.3081 18.5887 16.1216 18.2937 15.95C18.2395 15.9184 18.1861 15.8873 18.1343 15.8563C16.3343 14.7229 15.8009 12.9896 16.0676 10.9896C16.1343 10.4563 16.0009 10.3229 15.4676 10.3229C14.359 10.3673 13.2799 10.3526 12.191 10.3379C11.6429 10.3304 11.0923 10.3229 10.5343 10.3229C10.2009 10.3229 9.73428 10.3229 9.73428 9.78961C9.73428 9.18961 10.1343 9.18961 10.5343 9.18961L15.4676 9.18961C15.4982 9.18961 15.5288 9.19017 15.5591 9.19073C15.8588 9.19623 16.1282 9.20118 16.0676 8.65628C15.6676 6.18961 16.4676 4.38961 18.6676 3.18961C18.7343 3.15628 18.7843 3.12294 18.8343 3.08961C18.8843 3.05628 18.9343 3.02294 19.0009 2.98961Z' fill='%23DCBDA1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.334 9.71419C29.334 9.38086 28.8676 8.98961 28.4676 8.72294C27.2009 7.92294 25.9343 7.25627 24.6676 6.52294C24.0676 6.18961 23.4676 6.18961 22.8676 6.52294L18.8676 8.92294C17.9343 9.45628 17.0676 9.12294 17.0009 8.12294C16.8676 6.72294 17.2009 5.52294 18.4009 4.65628C19.0676 4.18961 19.7343 3.78961 20.4009 3.45628C20.6676 3.32294 20.9343 3.12294 20.9343 2.72294C20.8676 2.32294 20.6009 2.18961 20.2676 2.12294C19.3343 1.92294 18.5343 1.32294 17.8676 0.722942C17.3343 0.256276 16.8009 0.256276 16.4009 0.789609C14.0676 4.25628 10.4676 5.78961 6.80094 7.32294C5.00094 8.05628 3.00094 8.38961 1.13428 8.98961C1.00094 9.05628 0.734276 9.12294 0.534276 9.32294C0.134276 9.65628 0.334276 10.2563 0.934276 10.3896C2.13428 10.7229 3.33428 11.0563 4.46761 11.3896C7.73428 12.2563 10.7343 13.7229 13.5343 15.6563C14.6676 16.4563 15.6009 17.3896 16.4009 18.5229C16.8676 19.2563 17.4009 19.3229 18.0676 18.7229C18.7343 18.1229 19.4676 17.5896 20.4009 17.3896C20.7343 17.3229 21.0009 17.1229 21.0009 16.7896C21.0009 16.4563 20.8009 16.2563 20.5343 16.1229C19.8009 15.7896 19.1343 15.3896 18.5343 14.9229C17.2676 13.9896 16.7343 12.3229 17.2009 10.8563C17.3343 10.3896 18.4009 10.1896 18.9343 10.5896C20.2009 11.4563 21.6009 12.1229 22.8676 12.9229C23.6009 13.3896 24.2009 13.3229 24.9343 12.9229C26.2009 12.1229 27.5343 11.4563 28.8009 10.6563C29.0007 10.3809 29.334 10.3809 29.334 9.71419ZM26.2009 8.98961C26.2676 8.98961 26.2676 8.92294 26.2676 8.85627C25.5343 8.45627 24.8676 8.05627 24.2009 7.58961C24.0009 7.45627 23.8009 7.38961 23.6009 7.52294C22.6676 7.92294 21.8009 8.38961 20.9343 8.98961L26.2009 8.98961ZM26.4676 10.5229L20.7343 10.5229C21.8009 11.1229 22.6676 11.5896 23.6009 11.9896C23.8009 12.1229 24.0009 12.0563 24.2009 11.9229C24.6428 11.6137 25.1139 11.3337 25.6337 11.0247C25.8982 10.8675 26.1753 10.7028 26.4676 10.5229ZM19.0009 2.98961C19.0009 2.98961 19.0676 2.92294 19.0676 2.85628C18.9618 2.76555 18.8525 2.66454 18.7413 2.56179C18.3624 2.21154 17.9618 1.84115 17.6009 1.78961C17.2548 1.78961 17.049 2.12668 16.8378 2.47264C16.7237 2.65965 16.608 2.84925 16.4676 2.98961C14.0676 5.52294 11.0009 6.98961 7.80094 8.18961C6.84225 8.55834 5.84278 8.8047 4.83635 9.05278C4.02313 9.25323 3.20538 9.4548 2.40094 9.72294C2.77089 9.80831 3.15298 9.90583 3.54203 10.0051C4.06441 10.1385 4.59934 10.275 5.13428 10.3896C8.40094 11.1896 11.4009 12.5896 14.2009 14.4563C15.4009 15.2563 16.4009 16.1896 17.2009 17.3229C17.4676 17.7229 17.6676 17.7229 18.0009 17.4563C18.3343 17.1229 18.7343 16.8563 19.1343 16.5896C18.909 16.3081 18.5887 16.1216 18.2937 15.95C18.2395 15.9184 18.1861 15.8873 18.1343 15.8563C16.3343 14.7229 15.8009 12.9896 16.0676 10.9896C16.1343 10.4563 16.0009 10.3229 15.4676 10.3229C14.359 10.3673 13.2799 10.3526 12.191 10.3379C11.6429 10.3304 11.0923 10.3229 10.5343 10.3229C10.2009 10.3229 9.73428 10.3229 9.73428 9.78961C9.73428 9.18961 10.1343 9.18961 10.5343 9.18961L15.4676 9.18961C15.4982 9.18961 15.5288 9.19017 15.5591 9.19073C15.8588 9.19623 16.1282 9.20118 16.0676 8.65628C15.6676 6.18961 16.4676 4.38961 18.6676 3.18961C18.7343 3.15628 18.7843 3.12294 18.8343 3.08961C18.8843 3.05628 18.9343 3.02294 19.0009 2.98961Z' fill='%23916A4E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_702_3195'%3E%3Crect width='18.6667' height='30' fill='white' transform='matrix(4.37114e-08 1 1 -4.37114e-08 0 0.380859)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            background-size: 30px 18px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        &:last-child{
          button{
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='20' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_702_3197)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.79906 8.98961C3.73239 8.98961 3.73239 8.92294 3.73239 8.85627C4.46572 8.45627 5.13239 8.05627 5.79906 7.58961C5.99906 7.45627 6.19906 7.38961 6.39906 7.52294C7.33239 7.92294 8.19906 8.38961 9.06572 8.98961L3.79906 8.98961ZM3.53239 10.5229L9.26572 10.5229C8.19906 11.1229 7.33239 11.5896 6.39906 11.9896C6.19906 12.1229 5.99906 12.0563 5.79906 11.9229C5.35723 11.6137 4.88612 11.3337 4.36632 11.0247C4.1018 10.8675 3.82468 10.7028 3.53239 10.5229ZM10.9991 2.98961C10.9991 2.98961 10.9324 2.92294 10.9324 2.85628C11.0382 2.76555 11.1475 2.66454 11.2587 2.56179C11.6376 2.21154 12.0382 1.84115 12.3991 1.78961C12.7452 1.78961 12.951 2.12668 13.1622 2.47264C13.2763 2.65965 13.392 2.84925 13.5324 2.98961C15.9324 5.52294 18.9991 6.98961 22.1991 8.18961C23.1577 8.55834 24.1572 8.8047 25.1637 9.05278C25.9769 9.25323 26.7946 9.4548 27.5991 9.72294C27.2291 9.80831 26.847 9.90583 26.458 10.0051C25.9356 10.1385 25.4007 10.275 24.8657 10.3896C21.5991 11.1896 18.5991 12.5896 15.7991 14.4563C14.5991 15.2563 13.5991 16.1896 12.7991 17.3229C12.5324 17.7229 12.3324 17.7229 11.9991 17.4563C11.6657 17.1229 11.2657 16.8563 10.8657 16.5896C11.091 16.3081 11.4113 16.1216 11.7063 15.95C11.7605 15.9184 11.8139 15.8873 11.8657 15.8563C13.6657 14.7229 14.1991 12.9896 13.9324 10.9896C13.8657 10.4563 13.9991 10.3229 14.5324 10.3229C15.641 10.3673 16.7201 10.3526 17.809 10.3379C18.3571 10.3304 18.9077 10.3229 19.4657 10.3229C19.7991 10.3229 20.2657 10.3229 20.2657 9.78961C20.2657 9.18961 19.8657 9.18961 19.4657 9.18961L14.5324 9.18961C14.5018 9.18961 14.4712 9.19017 14.4409 9.19073C14.1412 9.19623 13.8718 9.20118 13.9324 8.65628C14.3324 6.18961 13.5324 4.38961 11.3324 3.18961C11.2657 3.15628 11.2157 3.12294 11.1657 3.08961C11.1157 3.05628 11.0657 3.02294 10.9991 2.98961Z' fill='%23DCBDA1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666015 9.71419C0.666015 9.38086 1.13239 8.98961 1.53239 8.72294C2.79906 7.92294 4.06573 7.25627 5.33239 6.52294C5.93239 6.18961 6.53239 6.18961 7.13239 6.52294L11.1324 8.92294C12.0657 9.45628 12.9324 9.12294 12.9991 8.12294C13.1324 6.72294 12.7991 5.52294 11.5991 4.65628C10.9324 4.18961 10.2657 3.78961 9.59906 3.45628C9.33239 3.32294 9.06572 3.12294 9.06572 2.72294C9.13239 2.32294 9.39906 2.18961 9.73239 2.12294C10.6657 1.92294 11.4657 1.32294 12.1324 0.722942C12.6657 0.256276 13.1991 0.256276 13.5991 0.789609C15.9324 4.25628 19.5324 5.78961 23.1991 7.32294C24.9991 8.05628 26.9991 8.38961 28.8657 8.98961C28.9991 9.05628 29.2657 9.12294 29.4657 9.32294C29.8657 9.65628 29.6657 10.2563 29.0657 10.3896C27.8657 10.7229 26.6657 11.0563 25.5324 11.3896C22.2657 12.2563 19.2657 13.7229 16.4657 15.6563C15.3324 16.4563 14.3991 17.3896 13.5991 18.5229C13.1324 19.2563 12.5991 19.3229 11.9324 18.7229C11.2657 18.1229 10.5324 17.5896 9.59906 17.3896C9.26572 17.3229 8.99906 17.1229 8.99906 16.7896C8.99906 16.4563 9.19906 16.2563 9.46572 16.1229C10.1991 15.7896 10.8657 15.3896 11.4657 14.9229C12.7324 13.9896 13.2657 12.3229 12.7991 10.8563C12.6657 10.3896 11.5991 10.1896 11.0657 10.5896C9.79906 11.4563 8.39906 12.1229 7.13239 12.9229C6.39906 13.3896 5.79906 13.3229 5.06572 12.9229C3.79906 12.1229 2.46572 11.4563 1.19906 10.6563C0.999347 10.3809 0.666015 10.3809 0.666015 9.71419ZM3.79906 8.98961C3.73239 8.98961 3.73239 8.92294 3.73239 8.85627C4.46572 8.45627 5.13239 8.05627 5.79906 7.58961C5.99906 7.45627 6.19906 7.38961 6.39906 7.52294C7.33239 7.92294 8.19906 8.38961 9.06572 8.98961L3.79906 8.98961ZM3.53239 10.5229L9.26572 10.5229C8.19906 11.1229 7.33239 11.5896 6.39906 11.9896C6.19906 12.1229 5.99906 12.0563 5.79906 11.9229C5.35723 11.6137 4.88612 11.3337 4.36632 11.0247C4.1018 10.8675 3.82468 10.7028 3.53239 10.5229ZM10.9991 2.98961C10.9991 2.98961 10.9324 2.92294 10.9324 2.85628C11.0382 2.76555 11.1475 2.66454 11.2587 2.56179C11.6376 2.21154 12.0382 1.84115 12.3991 1.78961C12.7452 1.78961 12.951 2.12668 13.1622 2.47264C13.2763 2.65965 13.392 2.84925 13.5324 2.98961C15.9324 5.52294 18.9991 6.98961 22.1991 8.18961C23.1577 8.55834 24.1572 8.8047 25.1637 9.05278C25.9769 9.25323 26.7946 9.4548 27.5991 9.72294C27.2291 9.80831 26.847 9.90583 26.458 10.0051C25.9356 10.1385 25.4007 10.275 24.8657 10.3896C21.5991 11.1896 18.5991 12.5896 15.7991 14.4563C14.5991 15.2563 13.5991 16.1896 12.7991 17.3229C12.5324 17.7229 12.3324 17.7229 11.9991 17.4563C11.6657 17.1229 11.2657 16.8563 10.8657 16.5896C11.091 16.3081 11.4113 16.1216 11.7063 15.95C11.7605 15.9184 11.8139 15.8873 11.8657 15.8563C13.6657 14.7229 14.1991 12.9896 13.9324 10.9896C13.8657 10.4563 13.9991 10.3229 14.5324 10.3229C15.641 10.3673 16.7201 10.3526 17.809 10.3379C18.3571 10.3304 18.9077 10.3229 19.4657 10.3229C19.7991 10.3229 20.2657 10.3229 20.2657 9.78961C20.2657 9.18961 19.8657 9.18961 19.4657 9.18961L14.5324 9.18961C14.5018 9.18961 14.4712 9.19017 14.4409 9.19073C14.1412 9.19623 13.8718 9.20118 13.9324 8.65628C14.3324 6.18961 13.5324 4.38961 11.3324 3.18961C11.2657 3.15628 11.2157 3.12294 11.1657 3.08961C11.1157 3.05628 11.0657 3.02294 10.9991 2.98961Z' fill='%23916A4E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_702_3197'%3E%3Crect width='18.6667' height='30' fill='white' transform='translate(30 0.380859) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            background-size: 30px 18px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        button{
          width: 60px;
          height: 60px;
          border: 1px solid var(--color-brown-light);
          border-radius: 50%;
          &.swiper-button-disabled{
            opacity: .5;
          }
        }
      }
    }
    li{
      &:first-child{
        button{
          background-image: url("data:image/svg+xml,%3Csvg width='60' height='26' viewBox='0 0 60 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_702_2737)'%3E%3Cpath d='M57.9999 12.921C58.3635 13.2846 58.2726 13.4665 57.9999 13.7392C56.5453 15.1028 55.1817 16.5574 53.909 18.1028C53.4544 18.7392 53.0908 18.6483 52.5453 18.1028C51.2726 16.921 49.7271 16.0119 48.1817 15.2846C46.818 14.7392 45.4544 14.1028 43.9999 13.3756C44.2129 13.269 44.3323 13.1937 44.4312 13.1313C44.5012 13.0872 44.5609 13.0496 44.6362 13.0119C45.1024 12.7934 45.5685 12.5819 46.0324 12.3714C48.4636 11.2683 50.8331 10.1932 52.818 8.28464C53.2349 7.8678 53.4988 8.13903 53.7501 8.39723C53.7728 8.42059 53.7954 8.44384 53.818 8.46646C54.9316 9.8187 56.1845 11.1013 57.4547 12.3753C57.6361 12.5572 57.8181 12.7392 57.9999 12.921Z' fill='%23DCBDA1'/%3E%3Cpath d='M28.2726 14.3756L36.0908 14.3756C35.6922 14.6208 35.3143 14.8454 34.9536 15.0598C34.2448 15.4811 33.6024 15.8629 32.9999 16.2846C32.7271 16.4665 32.4544 16.5574 32.1817 16.3756C30.909 15.8301 29.7271 15.1937 28.2726 14.3756Z' fill='%23DCBDA1'/%3E%3Cpath d='M35.818 12.1028C35.818 12.1937 35.818 12.2846 35.7271 12.2846L28.5453 12.2846C29.7271 11.4665 30.909 10.8301 32.1817 10.2846C32.4544 10.1028 32.7271 10.1937 32.9999 10.3756C33.909 11.0119 34.818 11.5574 35.818 12.1028Z' fill='%23DCBDA1'/%3E%3Cpath d='M25.9999 3.92101C25.9999 4.01192 25.909 4.10283 25.909 4.10283C25.818 4.14828 25.7499 4.19373 25.6817 4.23919C25.6135 4.28464 25.5453 4.3301 25.4544 4.37555C22.4544 6.01192 21.3635 8.46646 21.909 11.8301C21.9915 12.5731 21.6242 12.5664 21.2156 12.5589C21.1743 12.5581 21.1325 12.5574 21.0908 12.5574L14.3635 12.5574C13.818 12.5574 13.2726 12.5574 13.2726 13.3756C13.2726 14.1028 13.909 14.1028 14.3635 14.1028C15.1245 14.1028 15.8753 14.113 16.6227 14.1232C18.1075 14.1433 19.579 14.1633 21.0908 14.1028C21.818 14.1028 21.9999 14.2846 21.909 15.0119C21.5453 17.7392 22.2726 20.1028 24.7271 21.6483C24.7978 21.6906 24.8706 21.733 24.9445 21.7761C25.3468 22.0101 25.7836 22.2643 26.0908 22.6483C25.5453 23.0119 24.9999 23.3756 24.5453 23.8301C24.0908 24.1937 23.818 24.1937 23.4544 23.6483C22.3635 22.1028 20.9999 20.8301 19.3635 19.7392C15.5453 17.1937 11.4544 15.2846 6.99986 14.1937C6.27041 14.0374 5.54096 13.8513 4.82863 13.6694C4.2981 13.534 3.77706 13.4011 3.27259 13.2846C4.36955 12.919 5.48467 12.6441 6.5936 12.3708C7.966 12.0325 9.32892 11.6965 10.6362 11.1937C14.9999 9.55737 19.1817 7.55737 22.4544 4.10283C22.6458 3.91143 22.8036 3.65288 22.9593 3.39786C23.2472 2.92611 23.5278 2.46646 23.9999 2.46646C24.4919 2.53675 25.0383 3.04182 25.5549 3.51944C25.7065 3.65955 25.8555 3.79729 25.9999 3.92101Z' fill='%23DCBDA1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M59.9995 13.2847C59.9995 12.3756 58.6362 11.3756 57.9999 10.7392C56.818 9.55737 55.7271 8.28464 54.6362 7.01191C53.6362 5.8301 52.909 5.73919 51.7271 6.8301C49.0908 9.37555 45.7271 10.5574 42.6362 12.1028C42.2726 12.3756 41.818 12.3756 41.2726 12.3756L40.4544 12.3756C39.909 12.3756 39.3635 12.2846 38.818 11.921C37.0908 10.8301 35.3635 9.92101 33.6362 8.92101C32.818 8.46646 31.9999 8.46646 31.1817 8.92101L25.7271 12.1937C24.4544 12.921 23.2726 12.4665 23.1817 11.1028C22.9999 9.19374 23.4544 7.55737 25.0908 6.37555C25.9999 5.73919 26.909 5.19373 27.818 4.73919C28.1817 4.55737 28.5453 4.28464 28.5453 3.73919C28.4544 3.19374 28.0908 3.01192 27.6362 2.92101C26.3635 2.64828 25.2726 1.8301 24.3635 1.01192C23.6362 0.375554 22.909 0.375554 22.3635 1.10283C19.1817 5.8301 14.2726 7.92101 9.27259 10.0119C6.81805 11.0119 4.09077 11.4665 1.54532 12.2846C1.3635 12.3756 0.999865 12.4665 0.727138 12.7392C0.181683 13.1937 0.45441 14.0119 1.27259 14.1937C2.90896 14.6483 4.54532 15.1028 6.09077 15.5574C10.5453 16.7392 14.6362 18.7392 18.4544 21.3756C19.9999 22.4665 21.2726 23.7392 22.3635 25.2846C22.9999 26.2846 23.7271 26.3756 24.6362 25.5574C25.5453 24.7392 26.5453 24.0119 27.818 23.7392C28.2726 23.6483 28.6362 23.3756 28.6362 22.921C28.6362 22.4665 28.3635 22.1937 27.9999 22.0119C26.9999 21.5574 26.0908 21.0119 25.2726 20.3756C23.5453 19.1028 22.818 16.8301 23.4544 14.8301C23.6362 14.1937 25.0908 13.921 25.818 14.4665C27.5453 15.6483 29.4544 16.5574 31.1817 17.6483C32.1817 18.2846 32.9999 18.1937 33.9999 17.6483C35.7271 16.5574 37.5453 15.6483 39.2726 14.5574C39.6362 14.3756 39.909 14.3756 40.2726 14.3756L41.6362 14.3756C42.3635 14.3756 42.9999 14.6483 43.5453 14.921C46.5453 16.4665 49.7271 17.6483 52.2726 20.1028C53.0908 20.921 53.909 20.8301 54.7271 19.8301C55.9089 18.5574 56.9999 17.1937 58.2726 15.921C58.9999 15.1937 59.9995 13.7392 59.9995 13.2847ZM35.7271 12.2846C35.818 12.2846 35.818 12.1937 35.818 12.1028C34.818 11.5574 33.909 11.0119 32.9999 10.3756C32.7271 10.1937 32.4544 10.1028 32.1817 10.2846C30.909 10.8301 29.7271 11.4665 28.5453 12.2846L35.7271 12.2846ZM36.0908 14.3756L28.2726 14.3756C29.7271 15.1937 30.909 15.8301 32.1817 16.3756C32.4544 16.5574 32.7271 16.4665 32.9999 16.2846C33.6024 15.8629 34.2448 15.4811 34.9536 15.0598C35.3143 14.8454 35.6922 14.6208 36.0908 14.3756ZM57.9999 13.7392C58.2726 13.4665 58.3635 13.2846 57.9999 12.921C57.8181 12.7392 57.6361 12.5572 57.4547 12.3753C56.1845 11.1013 54.9316 9.8187 53.818 8.46646C53.7954 8.44384 53.7728 8.42059 53.7501 8.39723C53.4988 8.13903 53.2349 7.8678 52.818 8.28464C50.8331 10.1932 48.4636 11.2683 46.0324 12.3714C45.5685 12.5819 45.1024 12.7934 44.6362 13.0119C44.5609 13.0496 44.5012 13.0872 44.4312 13.1313C44.3323 13.1937 44.2129 13.269 43.9999 13.3756C45.4544 14.1028 46.818 14.7392 48.1817 15.2846C49.7271 16.0119 51.2726 16.921 52.5453 18.1028C53.0908 18.6483 53.4544 18.7392 53.909 18.1028C55.1817 16.5574 56.5453 15.1028 57.9999 13.7392ZM25.909 4.10283C25.909 4.10283 25.9999 4.01192 25.9999 3.92101C25.8555 3.79729 25.7065 3.65955 25.5549 3.51944C25.0383 3.04182 24.4919 2.53675 23.9999 2.46646C23.5278 2.46646 23.2472 2.92611 22.9593 3.39786C22.8036 3.65288 22.6458 3.91143 22.4544 4.10283C19.1817 7.55737 14.9999 9.55737 10.6362 11.1937C9.32892 11.6965 7.966 12.0325 6.5936 12.3708C5.48467 12.6441 4.36955 12.919 3.27259 13.2846C3.77706 13.4011 4.2981 13.534 4.82863 13.6694C5.54096 13.8513 6.27041 14.0374 6.99986 14.1937C11.4544 15.2846 15.5453 17.1937 19.3635 19.7392C20.9999 20.8301 22.3635 22.1028 23.4544 23.6483C23.818 24.1937 24.0908 24.1937 24.5453 23.8301C24.9999 23.3756 25.5453 23.0119 26.0908 22.6483C25.7836 22.2643 25.3468 22.0101 24.9445 21.7761C24.8706 21.733 24.7978 21.6906 24.7271 21.6483C22.2726 20.1028 21.5453 17.7392 21.909 15.0119C21.9999 14.2846 21.818 14.1028 21.0908 14.1028C19.579 14.1633 18.1075 14.1433 16.6227 14.1232C15.8753 14.113 15.1245 14.1028 14.3635 14.1028C13.909 14.1028 13.2726 14.1028 13.2726 13.3756C13.2726 12.5574 13.818 12.5574 14.3635 12.5574L21.0908 12.5574C21.1325 12.5574 21.1743 12.5581 21.2156 12.5589C21.6242 12.5664 21.9915 12.5731 21.909 11.8301C21.3635 8.46646 22.4544 6.01192 25.4544 4.37555C25.5453 4.3301 25.6135 4.28464 25.6817 4.23919C25.7499 4.19373 25.818 4.14828 25.909 4.10283Z' fill='%23916A4E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_702_2737'%3E%3Crect width='25.4545' height='60' fill='white' transform='matrix(4.37114e-08 1 1 -4.37114e-08 0 0.545441)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          background-size: 100%;
        }
      }
      &:last-child{
        button{
          background-image: url("data:image/svg+xml,%3Csvg width='60' height='26' viewBox='0 0 60 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_702_2738)'%3E%3Cpath d='M2.00014 12.921C1.6365 13.2846 1.72741 13.4665 2.00014 13.7392C3.45468 15.1028 4.81832 16.5574 6.09104 18.1028C6.54559 18.7392 6.90922 18.6483 7.45468 18.1028C8.72741 16.921 10.2729 16.0119 11.8183 15.2846C13.182 14.7392 14.5456 14.1028 16.0001 13.3756C15.7871 13.269 15.6677 13.1937 15.5688 13.1313C15.4988 13.0872 15.4391 13.0496 15.3638 13.0119C14.8976 12.7934 14.4315 12.5819 13.9676 12.3714C11.5364 11.2683 9.16685 10.1932 7.18196 8.28464C6.76512 7.8678 6.50119 8.13903 6.24994 8.39723C6.22721 8.42059 6.20459 8.44384 6.18196 8.46646C5.06835 9.8187 3.81554 11.1013 2.54533 12.3753C2.36389 12.5572 2.18192 12.7392 2.00014 12.921Z' fill='%23DCBDA1'/%3E%3Cpath d='M31.7274 14.3756L23.9092 14.3756C24.3078 14.6208 24.6857 14.8454 25.0464 15.0598C25.7552 15.4811 26.3976 15.8629 27.0001 16.2846C27.2729 16.4665 27.5456 16.5574 27.8183 16.3756C29.091 15.8301 30.2729 15.1937 31.7274 14.3756Z' fill='%23DCBDA1'/%3E%3Cpath d='M24.182 12.1028C24.182 12.1937 24.182 12.2846 24.2729 12.2846L31.4547 12.2846C30.2729 11.4665 29.091 10.8301 27.8183 10.2846C27.5456 10.1028 27.2729 10.1937 27.0001 10.3756C26.091 11.0119 25.182 11.5574 24.182 12.1028Z' fill='%23DCBDA1'/%3E%3Cpath d='M34.0001 3.92101C34.0001 4.01192 34.091 4.10283 34.091 4.10283C34.182 4.14828 34.2501 4.19373 34.3183 4.23919C34.3865 4.28464 34.4547 4.3301 34.5456 4.37555C37.5456 6.01192 38.6365 8.46646 38.091 11.8301C38.0085 12.5731 38.3758 12.5664 38.7844 12.5589C38.8257 12.5581 38.8675 12.5574 38.9092 12.5574L45.6365 12.5574C46.182 12.5574 46.7274 12.5574 46.7274 13.3756C46.7274 14.1028 46.091 14.1028 45.6365 14.1028C44.8755 14.1028 44.1247 14.113 43.3773 14.1232C41.8925 14.1433 40.421 14.1633 38.9092 14.1028C38.182 14.1028 38.0001 14.2846 38.091 15.0119C38.4547 17.7392 37.7274 20.1028 35.2729 21.6483C35.2022 21.6906 35.1294 21.733 35.0555 21.7761C34.6532 22.0101 34.2164 22.2643 33.9092 22.6483C34.4547 23.0119 35.0001 23.3756 35.4547 23.8301C35.9092 24.1937 36.182 24.1937 36.5456 23.6483C37.6365 22.1028 39.0001 20.8301 40.6365 19.7392C44.4547 17.1937 48.5456 15.2846 53.0001 14.1937C53.7296 14.0374 54.459 13.8513 55.1714 13.6694C55.7019 13.534 56.2229 13.4011 56.7274 13.2846C55.6304 12.919 54.5153 12.6441 53.4064 12.3708C52.034 12.0325 50.6711 11.6965 49.3638 11.1937C45.0001 9.55737 40.8183 7.55737 37.5456 4.10283C37.3542 3.91143 37.1964 3.65288 37.0407 3.39786C36.7528 2.92611 36.4722 2.46646 36.0001 2.46646C35.5081 2.53675 34.9617 3.04182 34.4451 3.51944C34.2935 3.65955 34.1445 3.79729 34.0001 3.92101Z' fill='%23DCBDA1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.000533501 13.2847C0.000533541 12.3756 1.36377 11.3756 2.00014 10.7392C3.18195 9.55737 4.27287 8.28464 5.36378 7.01191C6.36378 5.8301 7.09105 5.73919 8.27287 6.8301C10.9092 9.37555 14.2729 10.5574 17.3638 12.1028C17.7274 12.3756 18.182 12.3756 18.7274 12.3756L19.5456 12.3756C20.091 12.3756 20.6365 12.2846 21.182 11.921C22.9092 10.8301 24.6365 9.92101 26.3638 8.92101C27.182 8.46646 28.0001 8.46646 28.8183 8.92101L34.2729 12.1937C35.5456 12.921 36.7274 12.4665 36.8183 11.1028C37.0001 9.19374 36.5456 7.55737 34.9092 6.37555C34.0001 5.73919 33.091 5.19373 32.182 4.73919C31.8183 4.55737 31.4547 4.28464 31.4547 3.73919C31.5456 3.19374 31.9092 3.01192 32.3638 2.92101C33.6365 2.64828 34.7274 1.8301 35.6365 1.01192C36.3638 0.375554 37.091 0.375554 37.6365 1.10283C40.8183 5.8301 45.7274 7.92101 50.7274 10.0119C53.182 11.0119 55.9092 11.4665 58.4547 12.2846C58.6365 12.3756 59.0001 12.4665 59.2729 12.7392C59.8183 13.1937 59.5456 14.0119 58.7274 14.1937C57.091 14.6483 55.4547 15.1028 53.9092 15.5574C49.4547 16.7392 45.3638 18.7392 41.5456 21.3756C40.0001 22.4665 38.7274 23.7392 37.6365 25.2846C37.0001 26.2846 36.2729 26.3756 35.3638 25.5574C34.4547 24.7392 33.4547 24.0119 32.182 23.7392C31.7274 23.6483 31.3638 23.3756 31.3638 22.921C31.3638 22.4665 31.6365 22.1937 32.0001 22.0119C33.0001 21.5574 33.9092 21.0119 34.7274 20.3756C36.4547 19.1028 37.182 16.8301 36.5456 14.8301C36.3638 14.1937 34.9092 13.921 34.182 14.4665C32.4547 15.6483 30.5456 16.5574 28.8183 17.6483C27.8183 18.2846 27.0001 18.1937 26.0001 17.6483C24.2729 16.5574 22.4547 15.6483 20.7274 14.5574C20.3638 14.3756 20.091 14.3756 19.7274 14.3756L18.3638 14.3756C17.6365 14.3756 17.0001 14.6483 16.4547 14.921C13.4547 16.4665 10.2729 17.6483 7.72741 20.1028C6.90923 20.921 6.09105 20.8301 5.27287 19.8301C4.09105 18.5574 3.00014 17.1937 1.72741 15.921C1.00014 15.1937 0.000533481 13.7392 0.000533501 13.2847ZM24.2729 12.2846C24.182 12.2846 24.182 12.1937 24.182 12.1028C25.182 11.5574 26.091 11.0119 27.0001 10.3756C27.2729 10.1937 27.5456 10.1028 27.8183 10.2846C29.091 10.8301 30.2729 11.4665 31.4547 12.2846L24.2729 12.2846ZM23.9092 14.3756L31.7274 14.3756C30.2729 15.1937 29.091 15.8301 27.8183 16.3756C27.5456 16.5574 27.2729 16.4665 27.0001 16.2846C26.3976 15.8629 25.7552 15.4811 25.0464 15.0598C24.6857 14.8454 24.3078 14.6208 23.9092 14.3756ZM2.00014 13.7392C1.72741 13.4665 1.6365 13.2846 2.00014 12.921C2.18192 12.7392 2.36389 12.5572 2.54533 12.3753C3.81554 11.1013 5.06835 9.8187 6.18196 8.46646C6.20459 8.44384 6.22721 8.42059 6.24994 8.39723C6.50119 8.13903 6.76512 7.8678 7.18196 8.28464C9.16685 10.1932 11.5364 11.2683 13.9676 12.3714C14.4315 12.5819 14.8976 12.7934 15.3638 13.0119C15.4391 13.0496 15.4988 13.0872 15.5688 13.1313C15.6677 13.1937 15.7871 13.269 16.0001 13.3756C14.5456 14.1028 13.182 14.7392 11.8183 15.2846C10.2729 16.0119 8.72741 16.921 7.45468 18.1028C6.90922 18.6483 6.54559 18.7392 6.09104 18.1028C4.81832 16.5574 3.45468 15.1028 2.00014 13.7392ZM34.091 4.10283C34.091 4.10283 34.0001 4.01192 34.0001 3.92101C34.1445 3.79729 34.2935 3.65955 34.4451 3.51944C34.9617 3.04182 35.5081 2.53675 36.0001 2.46646C36.4722 2.46646 36.7528 2.92611 37.0407 3.39786C37.1964 3.65288 37.3542 3.91143 37.5456 4.10283C40.8183 7.55737 45.0001 9.55737 49.3638 11.1937C50.6711 11.6965 52.034 12.0325 53.4064 12.3708C54.5153 12.6441 55.6304 12.919 56.7274 13.2846C56.2229 13.4011 55.7019 13.534 55.1714 13.6694C54.459 13.8513 53.7296 14.0374 53.0001 14.1937C48.5456 15.2846 44.4547 17.1937 40.6365 19.7392C39.0001 20.8301 37.6365 22.1028 36.5456 23.6483C36.182 24.1937 35.9092 24.1937 35.4547 23.8301C35.0001 23.3756 34.4547 23.0119 33.9092 22.6483C34.2164 22.2643 34.6532 22.0101 35.0555 21.7761C35.1294 21.733 35.2022 21.6906 35.2729 21.6483C37.7274 20.1028 38.4547 17.7392 38.091 15.0119C38.0001 14.2846 38.182 14.1028 38.9092 14.1028C40.421 14.1633 41.8925 14.1433 43.3773 14.1232C44.1247 14.113 44.8755 14.1028 45.6365 14.1028C46.091 14.1028 46.7274 14.1028 46.7274 13.3756C46.7274 12.5574 46.182 12.5574 45.6365 12.5574L38.9092 12.5574C38.8675 12.5574 38.8257 12.5581 38.7844 12.5589C38.3758 12.5664 38.0085 12.5731 38.091 11.8301C38.6365 8.46646 37.5456 6.01192 34.5456 4.37555C34.4547 4.3301 34.3865 4.28464 34.3183 4.23919C34.2501 4.19373 34.182 4.14828 34.091 4.10283Z' fill='%23916A4E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_702_2738'%3E%3Crect width='25.4545' height='60' fill='white' transform='translate(60 0.545441) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          background-size: 100%;
        }
      }
      button{
        display: flex!important;
        width: 60px;
        height: 26px;
      }
    }
  }
  .app{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100Vh;
    overflow-x: hidden;
    &.main_page{
      .block2{
        &:nth-child(2),
        &:nth-child(9){
          padding-top: 100px;
          @media (max-width: 920px) {
            padding-top: 60px;
          }
        }
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){
          padding-top: 60px;
          @media (max-width: 920px) {
            padding-top: 40px;
          }
        }
        &:nth-child(5),
        &:nth-child(9){
          padding-bottom: 100px;
          @media (max-width: 920px) {
            padding-bottom: 60px;
          }
        }
      }
      .block4,
      .block6{
        padding-top: 100px;
        @media (max-width: 920px) {
          padding-top: 60px;
        }
      }
      .block5{
        padding-top: 100px;
        padding-bottom: 100px;
        @media (max-width: 920px) {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }
      .block6{
        padding-bottom: 100px;
        @media (max-width: 920px) {
          padding-bottom: 60px;
        }
      }
      .white_bg{
        .block2{
          &:nth-child(3){
            padding-top: 100px;
            @media (max-width: 920px) {
              padding-top: 60px;
            }
          }
        }.block3{
          &:nth-child(2){
            margin-top: 100px;
            @media (max-width: 920px) {
              padding-top: 60px;
            }
          }
        }
      }
      .block8{
        padding-top: 100px;
        padding-bottom: 100px;
        @media (max-width: 920px) {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }
      .block10{
        padding-top: 100px;
        padding-bottom: 70px;
        @media (max-width: 920px) {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }
      .block11{
        &:nth-child(17){
          padding-top: 100px;
          margin-bottom: 100px;
          @media (max-width: 920px) {
            padding-top: 60px;
            margin-bottom: 60px;
          }
        }
      }
      .block12{
        padding-top: 100px;
        @media (max-width: 920px) {
          padding-top: 60px;
        }
      }
    }
    main.content{
      flex: 1 1 auto;
      padding: 0 0 100px;
      overflow: hidden;
      @media (max-width: 920px) {
        padding: 0 0 60px;
      }
    }
    .wrap{
      width: 100%;
      max-width: 1360px;
      padding: 0 20px;
      margin: 0 auto;
      @media (max-width: 768px) {
        padding: 0 16px;
      }
    }
  }

}