:root{
  --color-white: #FFFFFF;
  --color-bg: #F7F4F1;
  --color-blue: #1e2839;
  --color-yellow: #EABD53;
  --color-brown: #916a4e;
  --color-brown-light: #dcbda1;
  --color-green: #13C32F;
  --color-pink: #F7F4F1;
  --color-gray: #C4C4C4;
  --color-whatsapp: #58BB62;
  --color-telegram: #27A5E4;
  --color-transparent: rgba(255, 255, 255, 0);
}

