$transition: 0.3s;

$page-bg: #f5f5f5;
$white: #ffffff;
$white-bg: rgba(255, 255, 255, 0.80);
$black-38: #383838;
$black-42: #424242;
$black-5e: #5e5e5e;
$grey-text: #868686;
$grey-op-text: rgba(56, 56, 56, 0.80);
$grey-bg: rgba(28, 28, 28, 0.05);
$grey-pg: #a8a8a8;
$grey-pg-bg: #dddddd;
$orange: #f77833;
$orange-text: #dd4e00;

$shadow-grey: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);


$br-7: 7px;
$br-8: 8px;








